<template>
  <div class="user-profile">
    <div class="user-profile__user-panel">
      <h1 class="user-profile__username">@{{ user.username }}</h1>
      <div class="user-profile__admin-badge" v-if="user.isAdmin">
        Admin
      </div>
      <div class="user-profile__follower-count">
        <strong>Followers: </strong>{{ followers }}
      </div>
      <form
        class="user-profile__create-twoot"
        @submit.prevent="createNewTwoot"
        :class="{ '--exceeded': newTwootCharacterCount > 180 }"
      >
        <label for="newTwoot"
          ><strong>New Twoot</strong>({{ newTwootCharacterCount }}/180)</label
        >
        <textarea id="" rows="4" v-model="newTwootContent" />

        <div class="user-profile__create-twoot-type">
          <label for="newTWootType"><strong>Type: </strong></label>
          <select id="newTwootType" v-model="selectedTwootType">
            <option
              :value="option.value"
              v-for="(option, index) in twootTypes"
              :key="index"
            >
              {{ option.name }}
            </option>
          </select>
        </div>

        <button>
          Twoot!
        </button>
      </form>
    </div>
    <div class="user-profile__twoots-wrapper">
      <TwootItems
        v-for="twoot in user.twoots"
        :key="twoot.id"
        :username="user.username"
        :twoot="twoot"
        @favourite="toggleFavourite"
      />
    </div>
  </div>
</template>

<script>
import TwootItems from "./TwootItems";

export default {
  name: "userProfile",
  components: {
    TwootItems,
  },
  data() {
    return {
      newTwootContent: "",
      selectedTwootType: "instant",
      twootTypes: [
        { value: "draft", name: "Draft" },
        { value: "instant", name: "Instant" },
      ],
      followers: 0,
      user: {
        id: 1,
        username: "kbr3cinema",
        firstName: "kbr3",
        lastName: "cinema",
        email: "kbr3cienma@gmail.com",
        isAdmin: true,
        twoots: [
          { id: 1, content: "Twooter is amazing" },
          { id: 2, content: "Grade is nothing but, making me down!" },
        ],
      },
    };
  },
  watch: {
    followers(of, nf) {
      if (of < nf) {
        console.log(`${this.user.fullname} has gained a follower!`);
      }
    },
  },
  computed: {
    newTwootCharacterCount() {
      return this.newTwootContent.length;
    },
  },
  methods: {
    followUser() {
      this.followers++;
    },
    toggleFavourite(id) {
      console.log(`Favourite tweet #${id}`);
    },
    createNewTwoot() {
      if (this.newTwootContent && this.selectedTwootType !== "draft") {
        this.user.twoots.unshift({
          id: this.user.twoots.length + 1,
          content: this.newTwootContent,
        });
        this.newTwootContent = "";
      }
    },
  },
  mounted() {
    this.followUser();
  },
};
</script>

<style lang="scss" scoped>
.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  padding: 50px 5%;

  .user-profile__user-panel {
    display: flex;
    flex-direction: column;
    // margin-right: 50px;
    margin-bottom: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dfe3e8;

    .user-profile__admin-badge {
      background-color: purple;
      color: white;
      margin-right: auto;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .user-profile__create-twoot {
      padding-top: 20px;
      border-top: 1px solid #dfe3e8;
      display: flex;
      flex-direction: column;

      &.--exceeded {
        color: red;
        border-color: red;
      }

      button {
        border: none;
        background-color: deeppink;
        border-radius: 5px;
        margin-top: 10px;
        color: white;
      }
    }
  }

  .user-profile__twoots-wrapper {
    display: grid;
    gap: 10px;
    margin-bottom: auto;
  }

  h1 {
    margin: 0;
  }
}
</style>
